/* general style */
:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --layout: 4%;
}

/* header */

body {
  font-family: Helvetica Neue;

  margin: 0px;
  background-color: #f8f8f8;
}

.header {
  background: white;
  height: 60px;
  padding: 0px var(--layout);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0px;
  font: normal normal bold 18px Helvetica Neue;
}

.header button {
  background-color: #256fff;
  width: 90px;
  border: none;
  height: 32px;
  color: white;
  border-radius: 7px;
}

/* spatial section */
.content-container {
  display: flex;
}

.spatial-section {
  width: 20%;
  padding-top: 40px;
  padding-left: var(--layout);
}

.spatial-section h5 {
  margin-bottom: 30px;
  font-size: 18px;
}

.search-container {
  display: flex;
  align-items: center;
  border-radius: 3px;
  width: 230px;
  height: 27px;
  border: 1px solid #d9d9d9;
  /* background-color: #256fff0d; */
}

.search-container input {
  border: none;
  height: 100%;
  width: 80%;
  padding-left: 10px;
  font-size: 11px;
  color: #818181;
}

.search-container div {
  background-color: #256fff0d;
  border-radius: 5px;
}

.spatial-section p {
  margin: 0px;
  color: #818181;
  font-size: 10px;
  margin-top: 4px;
}

.option-list {
  padding: 0px;
}

.option-list li {
  border: 1px solid #d9d9d9;
  display: flex;
  max-width: 230px;
  width: 230px;

  background-color: white;
  border-radius: 5px;
  gap: 5px;
  padding: 10px 7px;
}

.option-list li .image-container {
  width: 30px;
  height: 30px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.list-info {
  display: flex;
  flex-direction: column;
}

.list-info h6 {
  margin: 0px;
  font-weight: 400;
}

.list-info span {
  margin: 0px;
  font-weight: 400;
  font-size: 11px;
}
