/* general style */
:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --layout: 4%;
}

/* header */

body {
  font-family: Helvetica Neue;

  margin: 0px;
  background-color: #f8f8f8;
}

.header {
  background: white;
  height: 60px;
  padding: 0px var(--layout);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0px;
  font: normal normal bold 18px Helvetica Neue;
}

.header button {
  background-color: #256fff;
  width: 90px;
  border: none;
  height: 32px;
  color: white;
  border-radius: 7px;
}

/* spatial section */

.spatial-section {
  padding-top: 40px;
  padding-left: var(--layout);
}

.spatial-section h5 {
  margin-bottom: 30px;
  font-size: 18px;
}

.search-container {
  width: 200px;
  border: 1px solid black;
}
